<tr>
  <td><%= link_to offering_post.user.name, "#" %></td>
	<td><%= link_to offering_post.title, offering_post_path(offering_post) %></td>
	<td><%= offering_post.created_at %></td>
	<td><%= offering_post.status %></td>
</tr>
