<tr>
    <td><%= matching_post.title %></td>
    <td><%= matching_post.user.name %></td>
    <td><%= l matching_post.created_at %></td>
	<td><%= link_to "詳細", matching_post_path(matching_post), class: "btn btn-success", data: {turbolinks: "false"} %></td>
</tr>
