<tr>
  <th scope="row"><%= matching_post_counter + 1 %></th>
  <td><%= matching_post.user.name %></td>
  <td><%= link_to matching_post.title, matching_post_path(matching_post) %></td>
	<td></td>
</tr>
