<div class="container">
<h2 class="text-center">Matching Post</h2>
<div class="card w-50 mx-auto">
  <div class="card-header">
   <h4> <%= @matching_post.title %></h4>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @matching_post.body %></p>
    </blockquote>
  </div>
</div>
</div>
