<% matchings.each do |matching| %>
<% follower_post = Article.find_by(id: matching.follower_post_id) %>
<% followed_post = Article.find_by(id: matching.followed_post_id) %>
	<div class="border m-1">
  <div class="row">
  <div class="col">
  <%= matching.follower.name %>
	<% if follower_post %>
		<%= "テーマ： #{follower_post.title}" %>
	<% else %>
		聞くだけ
	<% end %>
	</div>
	</div>
	<div class="row">
	<div class="col">
	<%= matching.followed.name %>
	<% if followed_post %>
		<%= "テーマ： #{followed_post.title}" %>
	<% else %>
		聞くだけ
	<% end %>
	</div>
	</div>
	</div>
<% end %>
