<p>
	<%= link_to user_article.title, article_path(user_article) %>
	<%= user_article.created_at %>
	<%= link_to "x", article_path(user_article), method: :delete %>
	<%= link_to "🖋", edit_article_path(user_article), method: :get %>
</p>
