 <section class="jumbotron">
    <div class="container w-50">
			<div class="row justify-content-start">
			<div class="col">
			<h2>紹介ボード</h2>
			<p>お友達のプロフィールページ</p>
    </div>
		</div>
		</div>
  </section>

    <div class="container">
      <div class="row justify-content-center row-eq-height">
      <%= render partial: 'user', collection: @users %>
			</div>
		</div>
