 <section class="jumbotron">
    <div class="container w-50">
			<div class="row justify-content-start">
			<div class="col">
			<h2><%= @user.name %></h2>
      <p class="lead text-muted">user_profile</p>
    </div>
		</div>
		</div>
  </section>

    <div class="container">
      <div class="row justify-content-center row-eq-height">

        <div class="col-3">
          <div class="card mb-4 shadow-sm">
							<div class="card-header text-center"><i class="fas fa-book-open mr-2"></i>マイ原稿一覧</div>
            <div class="card-body">
              <p class="card-text">執筆した原稿の一覧を確認できます。</p>
							<p><%= link_to "", articles_path, class: "stretched-link"%></p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card mb-4 shadow-sm">
					<div class="card-header text-center"><i class="far fa-calendar-check mr-2"></i>マッチング詳細</div>
            <div class="card-body">
              <p class="card-text">現在のマッチング詳細を確認できます</p>
							<p><%= link_to "", matchings_path, class: "stretched-link"%></p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card mb-4 shadow-sm">
					<div class="card-header text-center"><i class="fas fa-history mr-2"></i>マッチング履歴</div>
            <div class="card-body">
              <p class="card-text">現在準備中です。マッチング履歴が確認できます。</p>
							<p><%= link_to "", "#", class: "stretched-link"%></p>
            </div>
          </div>
        </div>

			</div>
		</div>
<style>
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
</style>
