<div class="container">
<div class="row">
<div class="col">
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">title</th>
			<th scope="col">created_at</th>
			<th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
	<%= render 'user_article', @user_articles %>
  </tbody>
</table>
</div>
</div>
</div>
